.cache
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated

Debug
bam
buildlog.txt
bam.exe
*.bat
.cproject
.project
*.dtb
*.log
*.exe
*.res
*.patch
*.prefs
*.lnk
*.pdb
*.sdf
*.sln
*.suo
*.swp
*.vcxproj
*.filters
*.user
*.cmd
.settings
*.opensdf
*.pyc
*.dll
*.coff

TeeWare-Server*

compile_commands.json
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Makefile
CMakeSettings*
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake